version: '3'

services:

  gateway:
    restart: always
    build:
      dockerfile: Dockerfile.dev
      context: ./gateway
    volumes:
      - /app/node_modules
      - ./gateway:/app
    ports: 
      - 3001:3001
    environment:
      - GATEWAY_USER_ID_OVERRIDE=12345

  client:
    build:
      dockerfile: Dockerfile.dev
      context: ./client
    volumes:
      - /app/node_modules
      - ./client:/app
      
  exercise:
    restart: always
    build:
      dockerfile: Dockerfile.dev
      context: ./exercise
      args:
        JAR_NAME: exercise-0.0.1-SNAPSHOT.jar
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SERVER_PORT=8080
      - SPRING_DATASOURCE_URL=jdbc:postgresql://exercise-db:5432/exercise
      - SPRING_DATASOURCE_USERNAME=exercise_user
      - SPRING_DATASOURCE_PASSWORD=exercise_temp_password
      - WORKOUT_DURATION=4

  exercise-db:
    restart: always
    build:
      context: ./db
    environment:
      - POSTGRES_PASSWORD=azsuth
      - POSTGRES_DB=exercise

  adminer:
    image: adminer
    restart: always
    ports:
      - 8085:8080
